<% if message.message_type == nil %>
  <div class="normal-message" id="message-<%= message.id %>">
    <small>
      <strong><%= message.user.username %></strong>
      <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
    </small>
    <p><%= message.content %></p>
  </div>
<% else %>
  <div class="appointment-message">
    <div class="appointment-message-header">
      <p><%= message.user == current_user ? "You sent a duel request" : "#{message.user.username} sent a duel request" %></p>
    </div>
    <%= link_to 'View your duels', appointments_path %>
  </div>
<% end %>
