<% if message.message_type == nil %>
  <div class="normal-message <%= message.user == current_user ? 'current-user-message' : 'other-user-message' %>" id="message-<%= message.id %>">
    <small>
      <strong><%= message.user.username %></strong>
      <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
    </small>
    <p><%= message.content %></p>
  </div>
<% else %>
  <div class="appointment-message <%= message.user == current_user ? 'current-user-message' : 'other-user-message' %>" id="message-<%= message.id %>">
    <div class="appointment-message-header">
      <p><strong> <%= message.user == current_user ? "You sent a duel request" : "#{message.user.username} sent a duel request" %></strong></p>
    </div>
    <%= link_to 'View your duels', appointments_path, class: "duel-path" %>
  </div>
<% end %>