<h1>All chats</h1>

<% if @user_matches.empty? %>
  <p><em>You haven't matched with anyone yet. Get swiping to start chatting!</em></p>
  <%= link_to "Find your fellow nerds!", new_user_match_path, class: "button-lg" %>
<% else %>
  <div class="chatroom-card">
    <%  @user_matches.each do |user_match| %>
      <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar-image", id: "avatar-toggle", tabindex: "0", alt: "Avatar" %>
        <% else %>
          <%= image_tag("Hobber.png", class: "avatar-image", id: "avatar-toggle", tabindex: "0", alt: "Avatar") %>
        <% end %>
      <% if user_match.user == current_user %>
        <%= link_to user_match.match.secondary_user.username, chatroom_path(user_match.chatrooms.first, user_match_id: user_match.id) %>
      <% elsif user_match.match.secondary_user == current_user %>
        <%= link_to user_match.user.username, chatroom_path(user_match.chatrooms.first, user_match_id: user_match.id) %>
      <% end %>
      <% if user_match.chatrooms.first.messages.empty? %>
        <p><em>No messages yet! Start chatting with <%= user_match.user == current_user ? user_match.match.secondary_user.username : user_match.user.username %> </em></p>
      <% else %>
        <p><%= user_match.chatrooms.first.messages.last.content %></p>
      <% end %>
    <% end %>
  </div>
<% end %>
<%= render 'shared/navbar_bottom' %>
