<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">

  <div class="chatroom-show-header">
    <div class="chatroom-back-arrow">
      <%= link_to chatrooms_path do %>
        <i class="fa-solid fa-backward fa-2xl"></i>
      <% end %>
    </div>

    <div class="chatroom-name-avatar">
      <% if @user_match.user == current_user %>
          <div class="chatroom-avatar">
            <a href="/users/<%= @user_match.match.secondary_user.id %>">
              <% if @user_match.match.secondary_user.photo.attached? %>
                <%= cl_image_tag @user_match.match.secondary_user.photo.key, class: "avatar-image", id: "avatar-toggle",   tabindex: "0", alt: "Avatar" %>
              <% else %>
                <%= image_tag("Hobber.png", class: "avatar-image", id: "avatar-toggle", tabindex: "0", alt: "Avatar") %>
              <% end %>
            </a>
          </div>
          <h1><%= @user_match.match.secondary_user.username %></h1>
        <% elsif @user_match.match.secondary_user == current_user %>
          <div class="chatroom-avatar">
            <a href="/users/<%= @user_match.user.id %>">
              <% if @user_match.user.photo.attached? %>
                <%= cl_image_tag @user_match.user.photo.key, class: "avatar-image", id: "avatar-toggle", tabindex: "0", alt:   "Avatar" %>
              <% else %>
                <%= image_tag("Hobber.png", class: "avatar-image", id: "avatar-toggle", tabindex: "0", alt: "Avatar") %>
              <% end %>
            </a>
          </div>
          <h1><%= @user_match.user.username %></h1>
        <% end %>
    </div>
  </div>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <div class="appointment-button">
    <%= link_to "Schedule a duel", new_user_match_appointment_path(@user_match), class: "button-lg schedule"  %>
  </div>

  <div class="chatroom-message-form">
    <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Message ##{@chatroom.name}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn button-sm mb-3" do %>
        <i class="fa-sharp fa-light fa-rocket-launch"></i>
      <% end %>
    <% end %>
  </div>
</div>
