<nav class="navbar">
  <div class="navbar-left">
    <%= link_to root_path do %>
      <%= image_tag("logo.png", class: "avatar-image", alt: "Logo") %>
    <% end %>
  </div>
  <div class="navbar-right">
    <div class="dropdown-toggle-container">
    <% if current_user %>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar-image", id: "avatar-toggle", tabindex: "0", alt: "Avatar" %>
      <% else %>
        <%= image_tag("Hobber.png", class: "avatar-image", id: "avatar-toggle", tabindex: "0", alt: "Avatar") %>
      <% end %>
      <div class="dropdown-menu" id="dropdown-menu">
        <ul>
          <% if current_user %>
            <li><%= link_to "My Profile", user_path(current_user) %></li>
            <li><%= link_to "My Chats", "/chatrooms/index" %></li>
            <li><%= link_to "My Calendar", "/appointments/index" %></li>
            <li> <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    </div>
  </div>
</nav>
