<div id="banner">
  <div class="baran-container">
    <div class="logo-container" > <%= image_tag "logo" %></div>
    <h1>Welcome to  obber!</h1>
    <p>Where nerds find nerds</p>
     <div class="buttons">
      <% if user_signed_in? && !current_user.username.present? && !current_user.age.present? && !current_user.address.present? && !current_user.bio.present? %>
        <%= link_to "Complete your profile", edit_user_path(current_user) %>
      <% elsif user_signed_in? && current_user.username.present? && current_user.age.present? && current_user.address.present? && current_user.bio.present? %>
        <%= link_to "Find your fellow nerds!", new_user_match_path %>
      <% else %>
        <%= link_to "Join Us", new_user_registration_path, class: "btn btn-flat Join-us-button" %>
      <% end %>
      <%= button_to "Log out", destroy_user_session_path, class: "btn btn-light Sign-In-button", method: :delete, data: {turbo: false} %>
     </div>
  </div>
</div>


<%= render 'shared/navbar_bottom' %>
