<%# <%= render 'shared/top_navbar_browse' %>
<h1>games partial</h1>

<% if flash[:notice].present? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="container">
  <div>
    <% @games.each do |game_name, _popularity| %>
        <div class="game">
          <%= simple_form_for [Game.find_by(name: game_name), @user_game] do |f| %>
            <%= f.submit game_name %>
          <% end %>
        </div>
      <% end %>
  </div>

  <br>

  <%= form_with url: games_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Didn't find what you're looking for? Search here"
    %>
    <%= submit_tag "Search" %>
  <% end %>


  <br>

  <div class="add-game">
    <h6>Add a game:</h6>
    <%= form_with(model: Game.new, url: games_path, method: :post) do |f| %>
      <%= f.text_field :name, placeholder: "Game Name" %>
      <%= f.submit "Add" %>
    <% end %>
  </div>

</div>
<%= render 'shared/navbar_bottom' %>
