<%= render 'shared/top_navbar_browse' %>
                                
<% if @potential_match.nil? %>
<h2>You have no more people to match with, fuck you!!!</h2>
<% else %>
<h2>Do you like the loser below?</h2>
<h2 class="spielbox" >Matches</h2>
<div class="main-container">
  <div class="user-container">
    <div class="name" > <h5 class="card-title"><%= @potential_match.username %></h5></div>
    <div class="icon"> <i class="fa-solid fa-circle-info fa-2xl"></i></div>
    <div class="background-image"> <%= cl_image_tag current_user.photo.key  %> </div>
    <div class="form-accept">
        <% if @user_match_exists %>
          <%= simple_form_for @user_match, method: :put do |f| %>
            <%= f.input :status, :as => :hidden, :input_html => { :value => "approved" } %>
            <%= f.button :submit, 'ðŸ‘', class: "btn btn-success" %>
          <% end %>
          <%= simple_form_for @user_match, method: :put do |f| %>
            <%= f.input :status, :as => :hidden, :input_html => { :value => "denied" } %>
            <%= f.button :submit, 'ðŸ‘Ž', class: "btn btn-danger" %>
          <% end %>
        <% else %>
          <%= simple_form_for @user_match do |f| %>
            <%= f.input :match_id, as: :hidden, input_html: { value: @potential_match.id } %>
            <%= f.input :status, :as => :hidden, :input_html => { :value => "pending" } %>
            <%= f.button :submit, 'yes', class: "btn btn-success" %>
          <% end %>
          <%= simple_form_for @user_match do |f| %>
            <%= f.input :match_id, as: :hidden, input_html: { value: @potential_match.id } %>
            <%= f.input :status, :as => :hidden, :input_html => { :value => "denied" } %>
            <%= f.button :submit, 'no', class: "btn btn-danger" %>
          <% end %>
      <% end %>
    </div>
    <div><p class="card-text"><%= @potential_match.bio %></p></div>
  </div>
</div>

<%= render 'shared/navbar_bottom' %>




