<% require "date" %>

<h1>My duels</h1>

<div data-controller="tabs" class="appointments-tabs">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button data-tabs-target="upcomingtab" data-action="click->tabs#upcoming" class="nav-link active" id="upcoming-tab" data-bs-toggle="tab" data-bs-target="#upcoming" type="button" role="tab" aria-controls="upcoming duels" aria-selected="true">Upcoming duels</button>
    </li>
    <li class="nav-item" role="presentation">
      <button data-tabs-target="pasttab" data-action="click->tabs#past" class="nav-link" id="past-tab" data-bs-toggle="tab" data-bs-target="#past" type="button" role="tab" aria-controls="past duels" aria-selected="false">Past</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div data-tabs-target="upcomingpage" class="tab-pane fade show active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-duels-tab">
      <div class="appointment-card">
        <% @appointments.where("date >= ?", Date.today).each do |appointment| %>
            <div class="appointment-date">
              <%= appointment.date.year < Date.today.year ? appointment.date.strftime('%d %b %Y') : appointment.date.strftime('%b %d') %>
            </div>

            <div class="appointment-other-user">
              <% if appointment.user_match.user == current_user %>
                <h2><%= appointment.game.name %> with <%= appointment.user_match.match.secondary_user.username %> </h2>
              <% else %>
                <h2><%= appointment.game.name %> with <%= appointment.user_match.user.username %> </h2>
              <% end %>
            </div>

            <div class="appointment-time-status">
              <p><%= appointment.start_time.strftime('%l:%M %p') %> – <%= appointment.end_time.strftime('%l:%M %p %Z') %></p>
              <p>Status: <%= appointment.status %></p>
            </div>

            <div class="appointment-buttons">
              <% if appointment.status == 'pending' %>
                <%= simple_form_for appointment, method: :patch do |f| %>
                  <%= f.input :status, :as => :hidden, :input_html => { :value => "approved" } %>
                  <%= f.button :submit, 'Accept', class: "btn btn-success" %>
                <% end %>
                <%= simple_form_for appointment, method: :patch do |f| %>
                  <%= f.input :status, :as => :hidden, :input_html => { :value => "denied" } %>
                  <%= f.button :submit, 'Decline', class: "btn btn-danger" %>
                <% end %>
                <%= link_to "Chat", chatroom_path(appointment.user_match.chatrooms.first) %>
              <% elsif appointment.status == 'approved' %>
                <%= simple_form_for appointment, method: :patch do |f| %>
                  <%= f.input :status, :as => :hidden, :input_html => { :value => "cancelled" } %>
                  <%= f.button :submit, 'cancel duel', data: {turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
                  <%= link_to "Chat", chatroom_path(appointment.user_match.chatrooms.first) %>
                <% end %>
              <% elsif appointment.status == 'cancelled' %>
                <%= link_to "Reschedule", chatroom_path(appointment.user_match.chatrooms.first) %>
              <% else %>
                <%= link_to "Reschedule", chatroom_path(appointment.user_match.chatrooms.first) %>
              <% end %>
            </div>

        <% end %>
      </div>
    </div>

    <div data-tabs-target="pastpage" class="tab-pane fade" id="past" role="tabpanel" aria-labelledby="past-duels-tab">
      <div class="appointment-card">
        <% @appointments.where("date < ?", Date.today).each do |appointment| %>
            <div class="appointment-date">
              <%= appointment.date.year < Date.today.year ? appointment.date.strftime('%d %b %Y') : appointment.date.strftime('%b %d') %>
            </div>

            <div class="appointment-other-user">
              <% if appointment.user_match.user == current_user %>
                <h2><%= appointment.game.name %> with <%= appointment.user_match.match.secondary_user.username %> </h2>
              <% else %>
                <h2><%= appointment.game.name %> with <%= appointment.user_match.user.username %> </h2>
              <% end %>
            </div>

            <div class="appointment-time-status">
              <p><%= appointment.start_time.strftime('%l:%M %p') %> – <%= appointment.end_time.strftime('%l:%M %p %Z') %></p>
              <p>Status: <%= appointment.status %></p>
            </div>

            <div class="appointment-buttons">
              <% if appointment.status == 'approved' && !review_exists(appointment.id) %>
                  <%= link_to "Write a review", new_appointment_review_path(appointment) %>
                  <% elsif review_exists(appointment.id) %>
                  <h6>Your review:</h6>
                  <p>
                    <% find_review(appointment.id).rating.times do %>
                    <i class="fa-solid fa-star"></i>
                    <% end %>
                    <% empty_stars = 5 - find_review(appointment.id).rating %>
                    <% empty_stars.times do %>
                    <i class="fa-regular fa-star"></i>
                    <% end %>
                  </p>
                  <p><%= find_review(appointment.id).content %></p>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/navbar_bottom' %>
