<div class="container">
<h1>Schedule your duel</h1>
  <div class="appointment">
    <%= simple_form_for [@user_match, @appointment] do |f| %>
      <%= f.input :date,
                  as: :string,
                  input_html: { data: { controller: 'flatpickr', action: 'date' } },
                  placeholder: "Select a date",
                  error: "Invalid date" %>
      <div class="start-end-date-container">
        <%= f.input :start_time,
                  as: :string,
                  input_html: { data: { controller: 'timepicker', action: 'time' } },
                  placeholder: "Select a start time" %>
        <%= f.input :end_time,
                  as: :string,
                  input_html: { data: { controller: 'timepicker', action: 'time' } },
                  placeholder: "Select an end time" %>
      </div>
      <%= f.input :address %>
      <%= f.input :game,
                  collection: @common_games,
                  prompt: "Select a game",
                  error: "Game can't be blank" %>
      <div class="submit">
        <%= f.submit "Send request"%>
      </div>
    <% end %>
  </div>
  <%= render 'shared/navbar_bottom' %>
</div>
