<div class="backgroundlogo" style ="background: url('<%= image_url "login.png" %>');background-size: cover;">
  <div class="reviews-wrapper">
    <h1>Write a review for <%= @appointment.user_match.user == current_user ? @appointment.user_match.match.secondary_user.username : @appointment.user_match.user.username %>!</h1>
    <%= simple_form_for [@appointment, @review] do |f| %>
      <div class="form-inputs sign-in-form">
        <%= f.input :rating,
                    collection: (1..5).to_a,
                    label: "Rate your duel experience",
                    input_html: { data: { controller: "star-rating" } } %>
        <%= f.input :content,
                    as: :text,
                    required: true,
                    placeholder: "How was your duel?",
                    input_html: { class: "review-bio-input", rows: 5 } %>
        <div class="form-actions">
          <%= f.submit "Send", class: "quest-button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
