<!DOCTYPE html>
<html>
  <head>
    <title>Hobber</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags shim: false %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", as: "style" %>
    <link rel="stylesheet preload" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.css" as="style">
    <script src="https://kit.fontawesome.com/51d4e5f755.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js" crossorigin="anonymous"></script>


  </head>


  <body>
  <% unless current_page?(new_user_session_path) || current_page?(root_path) || current_page?(new_user_registration_path) %>
    <%= render 'shared/top_navbar_browse' %>
  <% end  %>
    <%= yield %>
  </body>
</html>
